http://download.pytorch.org/whl/cu80/torch-0.1.12.post2-cp27-none-linux_x86_64.whl  # pytorch
torchvision
numpy
scikit-image
nltk
h5py
pandas
future  # python2 only
tensorboard_logger  # for use tensorboard to view training loss
